@charset "UTF-8";
#intro{ border: solid red 1px;}
#I{border-top:solid black 2px;}
#II{border-top:solid black 2px;}
	th > a:hover{background-color:white;
color:#888888;
border-radius:15px;
}
*{ text-align:justify;
   font-family:verdana,serif;
}
table#head{
		font-size:25px;
		background-color:#ff8850;
		line-height:5em;
}
th > a{ 
color:white;
text-decoration:none;
padding:1.75em;}
